@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.categories {
  padding: 15px;
}

.rounded-10 {
  border-radius: 10px;
}

.categories ul {
  margin-top: 10px;
}

.categories ul li {
  position: relative;
  margin: 5px 0;
}

.categories ul li.has-category:after {
  content: "";
  width: 7px;
  height: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  transform: translate(0px, -50%) rotate(45deg);
  right: 4px;
  top: 50%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
}

.categories ul li ul {
  position: absolute;
  display: none;
  left: 100%;
  background-color: white;
  min-width: 200px;
  margin: 0;
  top: 0;
  box-shadow: 2.6px 1.5px 5px rgb(0 0 0 / 30%);
  border-radius: 19px;
  padding: 8px;
  z-index: 10000;
}

.card-shadow {
  box-shadow: 2.6px 1.5px 5px rgb(0 0 0 / 30%);
}

.categories ul li ul li {
  margin: 0;
}

.categories ul li ul li a {
  display: block;
  padding: 5px 15px;
}

.categories ul li:hover ul {
  display: block;
}

.categories ul li:last-child {
  margin-bottom: 0px !important;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.shadow2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(0, 0, 0, 0.25);
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-10 {
  margin-bottom: 80px;
}

.card-body3 {
  background: #fff;
  border-radius: 10px;
}

.card-body3 img {
  width: 100px;
}

.card-body2 {
  text-align: left;
}

@media (max-width: 480px) {
  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}

.categories ul li a {
  display: block;
  font-size: 16px;
}

@media (max-width: 600px) {
  .has-category {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .has-category {
    font-size: 18px;
  }
}

.autofill-dropdown {
  position: absolute;
  top: 40px;
  background: white;
  z-index: 1;
  cursor: pointer;
  max-height: 1000px;
  overflow-y: auto;
}

.autofill-item {
  background-color: white;
}

.autofill-item .cate:hover {
  background-color: #efefef;
}

.sel-head {
  font-size: 14px;
  background-color: var(--primary-light-color);
  margin-bottom: 0;
  font-weight: 400;
}

.cate {
  padding: 4px;
  font-size: 16px;
}

.search-result {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 110%;
  z-index: 100;
  border-radius: 10px !important;
  display: block;
  box-shadow: 1px 5px 15px #737373;
  max-height: 400px;
  overflow: auto;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.search-result li {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid #d0cece;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.search-result li:hover {
  background-color: #f1f1f1;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}