ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.star-rating li {
  margin: 2px;
  width: 0.4px;
}

.star-rating li img {
  max-width: 100%;
}
.verified2 {
  position: absolute;
  right: 8px;
  top: 8px;
}