.btn-primary-gradiant {
    color: white;
    padding: 6.5px 24px;
    border: 0;
    line-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
    background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
    background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
    background-size: 100%;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: none;
  }
  
  .btn-primary-gradiant:hover {
    background-size: 200%;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .btn-outline-gradiant {
    border: 1px solid transparent;
    color: #fff;
    border-radius: 7px;
    background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.btn-outline-gradiant:hover {
    border: 1px solid #319038;
    color: #319038;
    background-color: #f8f8f8;
    background-image: none;
}
.whatsappbtn {
  border: 1px solid #319038;
  color: #fff;
  background-color: #319038;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.whatsappbtn:hover {
  border: 1px solid #319038;
  color: #319038;
  background-color: #f8f8f8;
}
.about_text2{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.swiper-slide a {
  font-size: 13px !important;
}
.search-product-text{
  margin-top: 200px;
}

.popup-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 80vh; 
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 99999999;
}
.shadow2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(0, 0, 0, 0.25);
}
.rightnav {
  padding: 0;
  margin: 0;
}

.rightnav li a {
  display: block;
  padding: 12px;
}

.rightnav li a {
  position: relative;
}

.rightnav li a.active:after {
  content: "";
  height: 4px;
  width: 100%;
  left: 50%;
  position: absolute;
  background-color: #bd3838;
  transform: translate(-50%, 31px);
}


